{% extends 'base.html' %}
{% block title %}
<title>Contact Us| Read-N-Swap</title>
{% endblock title %}
{% block css %}
{% endblock css %}

{% block body %}
<body>
    


    <section  id="page-header" class="about-header">
        <h2>#Know US</h2>
        <p><br> </p>
    </section>
    
    <marquee bgcolor="#F9D776" loop="-1" scrollamout="5" width="100%">Today A Reader , Tomorrow A Leader   !! &nbspHappy Reading ! &nbsp; Join the Read N Swap Community now. </marquee>
    <br><br>

    <section id="about-head"  class="section-p1" style="border: 3cm; background-color: beige;">
        <div>
            <h4>About us</h4>
            <p>
                <b>**About Read N Swap**</b>
                
                Welcome to Read N Swap, your go-to destination for a literary journey where stories find new homes and knowledge gets passed on. At Read Swap, we believe in the power of sharing stories, embracing the joy of reading, and fostering a community of book lovers.
            </p>
            <p>
                <b>**Our Mission**</b>
                
                Our mission is simple but profound: to connect book enthusiasts and provide them with a platform to explore, buy, sell, and even rent books. We envision a world where every book has a reader and every reader finds the perfect book.
            </p>
            <p>
               <b> **What Sets Us Apart**</b>
                
                Read N Swap is more than just a marketplace; it's a community where bookworms unite. Here's what sets us apart:
                
                1. **Buy, Sell, Rent: Your Choice**: Whether you're looking for a brand new adventure or want to give your once-read treasures a new home, Read Swap accommodates all preferences. Buy a new book, sell or buy a second-hand gem, or even rent a title for a temporary escape.
                
                2. **Detailed Book Listings**: Our book listings don't just provide you with the title and author. Dive into rich descriptions, explore the author's world, and get a sense of the book's essence before making your choice.
                
                3. **User-Friendly Cart and Favorites**: Create your personal library with ease. Add books to your cart for immediate purchase or save them to your favorites for future consideration. Your literary journey is in your hands.
                
                4. **Secure Transactions**: Shop with confidence. Our secure payment gateway ensures that your transactions are safe, and your information is protected.
                
            </p>

            <p>
                <b>**Join the Read N Swap Community**</b>
                
                Read Swap is more than a marketplace; it's a community of book enthusiasts who share a passion for stories. Join us, and let's embark on a literary adventure together.
                
                Happy reading!
                
                The Read N Swap Team</p>
            <br>
            <br>
        </div>
    </section><br><br>
    <section id="about-creator" class="section-p1">
        <img src="" alt="Creator Image">
        <div class="creator">
            <h4>Developer</h4>
            <p>Front end developer and back end developer. creates websites and applications using web languages such as HTML, CSS, and JavaScript that allow users to access and interact with the site or app.</p>
        </div>
    </section>

    <!-- <section id="about-app" class="section-p1">
        <h1>Download our <a href="#">App</a></h1>
        <div class="video">
            <video autoplay muted loop src="img/About/1.mp4">

            </video>
        </div>
    </section> -->


      <Section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign up Read N Swap</h4>
            <p>Get E-mail updates about our New Features And Serives</p>
        </div>
        <div class="form">
            <input type="text" placeholder="You email address">
            <button class="normal">Sign up</button>
        </div>

    </Section>
   
{% endblock body %}
</html>